/* line 1, ../sass/dashboard.scss */
.dashboard-columns {
  display: inline-block;
  position: absolute;
  top: 0;
  text-align: center;
  font-weight: bold;
}

/* line 9, ../sass/dashboard.scss */
#load-dashboard-menu-options {
  min-width: 500px;
}
