@font-face {
    font-family: 'ElegantIcons';
    src: url('../fonts/ElegantIcons.eot');
    src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ElegantIcons.woff') format('woff'),
    url('./fonts/ElegantIcons.ttf') format('truetype'),
    url('./fonts/ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.elegant-icons {
    display: inline-block;
    font-family: 'ElegantIcons';
    font-size: 0.9em;
}

.arrow-triangle-down:before {
    content: "\43";
}

.arrow-triangle-right:before {
    content: "\45";
}

.icon-close:before {
    content: "\4d";
}

.icon-close-alt:before {
    content: "\e051";
}

.icon-cog:before {
    content: "\e037";
}

.icon-profile:before {
    content: "\e08a";
}
