		<div class="menubar">
			<div class="sw-app-label">
                <h4 id="statuswolf-menu-content">StatusWolf</h4>
                <span class="sw-version">{{ sw_version }}</span>
            </div><div id="menu-placeholder"></div>
            <div class="user-menu menubar-button" id="user-menu">
                <div class="dropdown">
                    <span data-toggle="dropdown"><span class="elegant-icons icon-profile"></span> {{ name }}</span>
                    <ul class="dropdown-menu menu-left" id="user-menu-options" role="menu" aria-labelled-by="dLabel">
                        <li><a href="{{ baseurl }}account/my_settings"><span>My Settings</span></a></li>
                    </ul>
                </div>
			</div>
		</div>
